



<%= stylesheet_link_tag 'static_pages' %>


<h1>this is top page!</h1>

  <%= link_to "新規アカウント登録", new_user_path , class: "btn btn--yellow btn--cubic"%>

<span id=logout-button>
  <%= link_to "ログイン" , login_page_path, class: "btn btn--orange btn--cubic btn--shadow" %>
</span>
