<h1>GroupUser#new</h1>
<p>Find me in app/views/group_user/new.html.erb</p>

<div>
  <% User.all.each do |user| %>
    <%= link_to user.name, group_user_index_path(group_id: @group.id ,user_id: user.id), method: :post%>
  <% end %>
</div>
