/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  margin: 0;
  //background-image: image-url('sky.jpg');
  background-size: cover;
}
header{
  height: 100px;
  background-color: #0000AA;

}
#content-wrapper{
  margin:0px;
}

#header-login-button{
  color: white;
  font-size: 20px;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 100px;
  display: inline-block;
  line-height: 100px;
  height: 100%;
  transition: 0.4s ease;
  text-decoration: none;

  &:hover {

  background-color: #00bfff;
  }
}

.title{
  padding: 20px;
  font-size: 40px;
  color: white;
  font-family: serif;
  display: inline-block;
}
