// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 30px;
  margin: 20px;
}
