// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


.bm-menu-wrap{
  height: 100%;
}



//top page
.top-page-title{
  margin: 2rem;
}
.top-page-content{
  text-align: center;
  margin: 2rem;
  div{
    font-size:2rem;
    margin: 1rem;
  }
}
.top-page-buttons{
  padding-top: 500px;
  width:100%;
  display: flex;
  justify-content: center;
  margin-left:0;

}
.top-page-singup-button{
  margin: 1rem;
}
.top-page-login-button{

  margin: 1rem;
}
.signup-login-modal{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem auto;
  h2, button{
    margin: 1rem;
  }
  input{
    margin: 0.2rem;
  }
}

.signup-login-modal{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem auto;
  h2, button{
    margin: 1rem;
  }
  input{
    margin: 0.2rem;
  }
}

.tweet-modal{
  img{
    display: flex;
    margin-bottom: 1rem;
    border: solid 3px #5089C6;
  }
}

.edit-report-modal{

}

.close-modal{
  margin: 0 0 0 100px;
}


.bm-menu-wrap{
  width:40vw;
}

//group, task 全体
.all-group-area-wrapper{
    position: fixed;
    display:flex;
    height: calc(var(--vh, 1vh) * 100);
    width:100%;
    margin: 0;


    //side-menu
    .bm-menu-wrap{
      width:40vw;
      min-width: 300px;
    }

    .bm-item{
      width:100%;
      height: calc(var(--vh, 1vh) * 100);
      text-align:center;
      background-color:white;
      #nav-tab{
        height: calc(var(--vh, 1vh) * 7);
      }
      .nav-tabs{
        margin-bottom: calc(var(--vh, 1vh) * 1);
      }

      .search-group-form{
        width:100%;
        height:5%;
      }
      .nav-link{
        font-size: 0.8rem;
        color: #808080;
        width: 50%;
        transition: font-size 0.15s, background-color 0.3s;
        &:hover{
          background-color:#f2faff;
        }
      }
      .nav-link.active{
        border-bottom: solid 8px #5089C6;
        font-size: 1rem;
        color: #000000;
        width: 50%;
      }

      #nav-my-group{
        height: calc(var(--vh, 1vh) * 82);
        .switch-group-button-list{
          width:100%;
          height:88%;
          text-align:center;
          overflow:hidden;
          overflow-y : scroll;
          /* IE, Edge 対応 */
          -ms-overflow-style: none;
          /* Firefox 対応 */
          scrollbar-width: none;
          margin: 0;
          .switch-group-button{
            background-color:#CFEFFF;
            font-size: 1em;
            padding: 0.5em;
            width:100%;
            height:auto;
            text-align:center;
            border-style: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
              color: white;
              background-color:#009ceb;
              opacity: 0.6;
              transition-property: opacity;
              transition-duration: 0.3s;
            }
          }
        }
        .add-group-button{
          width:100%;
          height:12%;
          background-color:#009ceb;
          align-items: center;
          margin: auto;
          &:hover {
            opacity: 0.6;
            transition-property: opacity;
            transition-duration: 0.3s;
          }
        }
      }

      #nav-search-group{
        height: calc(var(--vh, 1vh) * 80);
        .search-window-at-side-menu{
          margin-top: calc(var(--vh, 1vh) * 3);
        }
        .searched_group_number{
        }
        .switch-group-button{
          background-color:#CFEFFF;
          font-size: 1em;
          padding: 0.5em;
          width:100%;
          height:auto;
          text-align:center;
          border-style: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            color: white;
            background-color:#009ceb;
            opacity: 0.6;
            transition-duration: 0.3s;
          }
        }
      }


      .side-menu-user-icon{
        width:100%;
        height: calc(var(--vh, 1vh) * 10);
        background-color:#001E6C;
        align-items: center;
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          opacity: 0.6;
          transition-property: opacity;
          transition-duration: 0.3s;
        }
        .user-icon {
          border-radius: 50%;
          width:  3em;
          height: 3em;
          margin:0 1em;
          border: 4px solid #5089C6;
        }
      }

    }

    .switch-group-button-list::-webkit-scrollbar {
      display:none;
    }

    //main-display
    .group-user-wrapper{
        background-color:white;
        width:100vw;
        height: 100%;
        margin-left:0px;
        position:relative;
        overflow:scroll;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */

        .side-menu-toggle {
          background-color:#035397;
          color:white;
          font-size: 2rem;
          position: fixed;
          width: 4rem;
          height: 4rem;
          top:0;
          z-index: 5;
          span {
            margin-left:0.9rem;
            z-index: 6;
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            width: 55%;
            height: 4px;
            background-color: #fff;
            border-radius: 4px;
          }

          span:nth-of-type(1) {
            top: 0.95rem;
          }
          span:nth-of-type(2) {
            top: 1.8rem;
          }
          span:nth-of-type(3) {
            bottom: 0.95rem;
          }

        }
        .side-menu-toggle.active span:nth-of-type(1) {
          transform: translateY(20px) rotate(-315deg);
          margin-left:0.5rem;
          top: 0.585rem;
          width: 77%;
        }
        .side-menu-toggle.active span:nth-of-type(2) {
          opacity: 0;
        }
        .side-menu-toggle.active span:nth-of-type(3) {
          transform: translateY(-20px) rotate(315deg);
          margin-left:0.5rem;
          bottom: 0.585rem;
          width: 77%;
        }


        .group-wrapper{
          padding-left:0.3rem;
          //header
          .group-header{
            width: 100%;
            height: 4rem;
            display:flex;
            position: fixed;
            top:0;
            color:white;
            background-color:#001E6C;
            z-index: 4;


            //group name
            .group-name{
              font-size: 2rem;
              height: 100%;
              margin: 0.5% 1rem 0.5% 5rem;
              white-space: nowrap;
            }

            .add-castle-button{
              width: 7rem;
              font-size: 1rem;
              margin: 0 auto 0 0;
              background-color:#009ceb;
            }

          }

          .group-header-spacer{
            width: 100%;
            height: 4rem;
            z-index: 1;
          }

          //castle
          @media screen and (orientation: portrait) {
            .castle_at_group{
              float: left;
              margin: 0.5rem 0.5rem 0.5rem 0.5rem;
              height: auto;
              min-height: calc(var(--vh, 1vh) * 85);
              width: 93vw;
              .name-and-icon-of-user-built-castle-at-group-page{
                padding-top:0.2rem;
                height:auto;
                background-color:#001E6C;
                .user-icon {
                  margin-left: 0.5rem;
                  float: left;
                  border-radius: 50%;
                  width:  2.5em;
                  height: 2.5em;
                  border: 3px solid #5089C6;
                }
                .user-name{
                  color:white;
                  padding:0.5rem 0 0 0.5rem;
                  margin-left:  3rem;
                  font-size: 1rem;
                  cursor : pointer;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
              .header-and-canvas-wrapper{
                height:auto;
                border: solid;
                border-color: #001E6C;
                z-index: 4;
                .castle-header-at-goup-page{
                  height:auto;
                  .header-wrapper{
                    background-color:#001E6C;
                    height:auto;
                    div{
                      padding-left:0.5rem;
                      color: white;
                      font-size:1.3rem;
                      cursor : pointer;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                  .report-infomation{
                    padding: 0.5rem;
                    height: auto;
                    .current-report-date{
                      padding: 0.5rem;
                      height:2em;
                      color: white;
                      background-color: #5089C6;
                      width:100%;
                    }
                    .current-report-content{
                      padding: 0.5rem;
                      height:auto;
                      color: white;
                      background-color: #5089C6;
                      width:100%;
                      white-space: pre-line;
                    }
                    .like-button-and-likes-number{
                      height:1.5em;
                      display: flex;
                      justify-content:flex-end;
                      margin-right: 1rem;
                      button{
                        background-color: transparent;
                        border: none;
                      }
                    }
                    .all-report-number{
                      height:1.5em;
                    }
                  }
                }

                .canvas{
                  margin-bottom: 0.5rem;
                  width: 91.5vw;
                  height: 91.5vw;
                  margin: 0px;
                  z-index: 0;
                }
              }
            }

          }

          @media screen and (orientation: landscape) {
            .castle_at_group{
              float: left;
              margin: 0.5rem 0.5rem 0.5rem 1.2vw;
              height: 50vw;
              width: 31vw;
              .name-and-icon-of-user-built-castle-at-group-page{
                padding-top:0.2rem;
                height:3rem;
                background-color:#001E6C;
                .user-icon {
                  margin-left: 0.5rem;
                  float: left;
                  border-radius: 50%;
                  width:  2.5em;
                  height: 2.5em;
                  border: 3px solid #5089C6;
                }
                .user-name{
                  color:white;
                  padding:0.5rem 0 0 0.5rem;
                  margin-left:  3rem;
                  font-size: 1rem;
                  cursor : pointer;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
              .header-and-canvas-wrapper{
                border: solid;
                border-color: #001E6C;
                .castle-header-at-goup-page{
                  z-index: 2;
                  height:15vw;
                  .header-wrapper{
                    div{
                      padding-left:0.5rem;
                      color: white;
                      background-color:#001E6C;
                      font-size:1.7rem;
                      cursor : pointer;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                  .report-infomation{
                    padding: 0.5rem;
                    height: 15vw;
                    .current-report-date{
                      padding: 0.5rem;
                      height:3vw;
                      color: white;
                      background-color: #5089C6;
                      width:100%;
                    }
                    .current-report-content{
                      padding: 0.5rem;
                      height:auto;
                      color: white;
                      background-color: #5089C6;
                      width:100%;
                      white-space: pre-line;
                    }
                    .like-button-and-likes-number{
                      display: flex;
                      justify-content:flex-end;
                      margin-right: 1rem;
                      button{
                        background-color: transparent;
                        border: none;
                      }
                    }
                    .all-report-number{

                    }
                  }
                }

                .canvas{
                  margin-bottom: 0.5rem;
                  width: 30.5vw;
                  height: 30.5vw;
                  margin: 0px;
                  z-index: 1;
                }
              }
            }

          }

          @media screen and (orientation: landscape) and (max-width: 900px){
            .castle_at_group{
              float: left;
              margin: 0.5rem 0.5rem 0.5rem 1rem;
              height: 73vw;
              width: 46vw;
              .name-and-icon-of-user-built-castle-at-group-page{
                padding-top:0.2rem;
                height:3rem;
                background-color:#001E6C;
                .user-icon {
                  margin-left: 0.5rem;
                  float: left;
                  border-radius: 50%;
                  width:  2.5em;
                  height: 2.5em;
                  border: 3px solid #5089C6;
                }
                .user-name{
                  color:white;
                  padding:0.5rem 0 0 0.5rem;
                  margin-left:  3rem;
                  font-size: 1rem;
                  cursor : pointer;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
              .header-and-canvas-wrapper{
                border: solid;
                border-color: #001E6C;
                z-index: 4;
                .castle-header-at-goup-page{
                  height:20vw;
                  .header-wrapper{
                    div{
                      padding-left:0.5rem;
                      color: white;
                      background-color:#001E6C;
                      font-size:1.7rem;
                      cursor : pointer;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                  .report-infomation{
                    padding: 0.5rem;
                    height: 15vw;
                    z-index: 2;
                    .current-report-date{
                      padding: 0.5rem;
                      height:3vw;
                      color: white;
                      background-color: #5089C6;
                      width:100%;
                    }
                    .current-report-content{
                      padding: 0.5rem;
                      height:auto;
                      color: white;
                      background-color: #5089C6;
                      width:100%;
                      white-space: pre-line;
                    }
                    .all-report-number{

                    }
                  }
                }

                .canvas{
                  margin-bottom: 0.5rem;
                  width: 45.2vw;
                  height: 45.2vw;
                  margin: 0px;
                  z-index: 1;
                }
              }
            }

          }

          .massage-castle-is-empty{
            margin-top: 3rem;
          }
        }

        //task
        .task-wrapper{
          margin-bottom: calc(var(--vh, 1vh) * 10);
          .task {
            font-size: 1.5rem;
            background-color:#6C93E0;
            width:6em;
            height:6em;
            float: left;
            margin: 0.5em;
            white-space: pre-line;
            word-break: break-all;
            border-radius: 10%;
            &:hover {
              opacity: 0.6;
              transition-duration: 0.3s;
            }
          }
        }

        .users-wrapper{
          text-align: center;
          .users-header{
            z-index: 2;
          }

          .users-header-spacer{
            width: 100%;
            height: 4rem;
            z-index: 1;
          }
          .massage-castle-is-empty {
            margin-top: 3rem;
          }
          .nav-tabs{
            margin-bottom: 1rem;
          }


          @media screen and (orientation: landscape) {
            .castle_at_user_page{
              border: solid;
              border-color: #5089C6;
              background-color:white;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              margin: 0.5rem 0.5rem 5rem 0.5rem;
              height: calc(var(--vh, 1vh) * 90);
              width: 98vw;
              .header-and-canvas-wrapper{
                border-right: solid;
                border-color: #5089C6;
                .header-wrapper{
                  height: calc(var(--vh, 1vh) * 7);
                  width: calc(var(--vh, 1vh) * 80);
                  color:white;
                  background-color:#5089C6;
                  display: flex;
                  div{
                      font-size: 2rem;
                    width: 100%;
                  }
                  button{
                    margin-top: calc(var(--vh, 1vh) * -1.5);
                  }
                }
              }
              button{
                z-index: 3;
              }
              h2{
                z-index: 3;
              }
              .add-3d-model{
                button{
                  border-style: none;
                  width: 100%;
                }
              }
              .canvas{
                margin-bottom: 0.5rem;
                width: calc(var(--vh, 1vh) * 80);
                height: calc(var(--vh, 1vh) * 80);
                margin: 0px 0px 10px 0px;
                z-index: 1;
              }
              .edit-castle-contents-wrapper{
                margin-left:0;
                width: calc(100vw - calc(var(--vh, 1vh) * 80));
                height: 100%;
                margin: 0rem 1rem;
                background-color:white;
                .nav-link{
                  height: 3rem;
                  font-size: 0.8rem;
                  color: #808080;
                  width: 25%;
                  transition: font-size 0.15s, background-color 0.3s;
                  &:hover{
                    background-color:#f2faff;
                  }
                }
                .nav-link.active{
                  border-bottom: solid 8px #5089C6;
                  font-size: 1rem;
                  color: #000000;
                }
                .castle-point-wrapper{
                  height: calc(var(--vh, 1vh) * 8);
                  padding:calc(var(--vh, 1vh) * 2);
                  font-size: calc(var(--vh, 1vh) * 3);
                  color:white;
                  background-color:#035397;
                  margin: 0px 0px 0.3rem 0px;
                }

                .castle-price-button-wrapper{
                  height:calc(var(--vh, 1vh) * 60);
                  margin-bottom: 1rem;
                  overflow:hidden;
                  overflow-y : scroll;
                  /* IE, Edge 対応 */
                  -ms-overflow-style: none;
                  /* Firefox 対応 */
                  scrollbar-width: none;
                  .castle-price-button{
                    background-color:#5089C6;
                    margin: 0px 0px 5px 0px;
                  }
                }
                .castle-price-button-wrapper::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                    display:none;
                }
                .all-reports-wrapper{
                  height:calc(var(--vh, 1vh) * 60);
                  margin-bottom: 1rem;
                  overflow:hidden;
                  overflow-y : scroll;
                  /* IE, Edge 対応 */
                  -ms-overflow-style: none;
                  /* Firefox 対応 */
                  scrollbar-width: none;
                  .report-wrapper{
                    margin: 0.3rem;
                    background-color:#5089C6;
                    .edit-report-button-wrapper{
                      display: flex;
                      justify-content: flex-end;
                      .edit-report-button{
                        font-size:1.3rem;
                        color:white;
                        margin: 0.6rem 0.6rem 0rem 0rem;
                        background: transparent;
                        border: none;
                        border-radius: 50%;
                        transition:  0.15s;
                        &:hover{
                          background-color:rgba(255,255,255,0.2);
                        }
                      }
                    }
                    .report-content{
                      padding:0rem 2rem 0 2rem;
                      margin:0;
                      white-space: pre-line;
                    }
                    .like-button-and-created-at-wrapper{
                      color: white;
                      padding-bottom: 0.5rem;
                      display:flex;
                      justify-content:flex-end;
                      .like-button{
                        margin: 0 0.1rem 0 1rem;
                        background-color: transparent;
                        border: none;
                      }
                      .tweet-button{
                        margin: 0 1rem 0 0rem;
                        background-color: transparent;
                        border: none;
                      }
                      .all-like-number{
                        margin: 0 0.7rem 0 0;
                      }
                    }
                  }
                }
                .all-reports-wrapper::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                    display:none;
                }
                .slider-to-edit-castle{
                  width:100%;
                  display: flex;
                  margin: 2rem 0;
                  .display-castle-infomation{
                    display:block;
                    width: 150px;
                    margin:0rem;
                    input{
                      margin: 0 0.5rem;
                      width:4rem ;
                    }
                  }
                  .rc-slider{
                    display:block;
                    margin:0 auto;
                    width:65%;
                  }
                }
              }
            }
          }

          @media screen and (orientation: landscape) and (max-width: 1000px){
            .castle_at_user_page{
              border: solid;
              border-color: #5089C6;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flex;
              display: -o-flex;
              display: flex;
              margin: 0.5rem 0.5rem 5rem 0.5rem;
              height: 57vw;
              width: 98vw;
              .header-and-canvas-wrapper{
                border-right: solid;
                border-color: #5089C6;
                .header-wrapper{
                  font-size:2vw;
                  height:6vw;
                  width: 50vw;
                  background-color:#5089C6;
                  display: flex;
                  div{
                      font-size: 2rem;
                    width: 100%;
                  }
                }
              }
              button{
                z-index: 3;
              }
              h2{
                z-index: 3;
              }
              .add-3d-model{
                button{
                  border-style: none;
                  width: 100%;
                }
              }
              .canvas{
                margin-bottom: 0.5rem;
                width: 50vw;
                height: 50vw;
                margin: 0px 0px 10px 0px;
                z-index: 1;
              }
              .edit-castle-contents-wrapper{
                padding: 1rem 1rem 0rem 1rem;
                height:calc(var(--vh, 1vh) * 70);
                height: 50vw;
                width: 50vw;
                margin: 0rem 0rem;
                background-color:white;
                .nav-link{
                  height: 3rem;
                  font-size: 0.8rem;
                  color: #808080;
                  width: 25%;
                  transition: font-size 0.15s, background-color 0.3s;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  &:hover{
                    background-color:#f2faff;
                  }
                }
                .nav-link.active{
                  border-bottom: solid 8px #5089C6;
                  font-size: 1rem;
                  color: #000000;
                }
                .castle-point-wrapper{
                  height: 5vw;
                  padding:1vw;
                  font-size: 2vw;
                  background-color:#035397;
                  margin: 0px 0px 5px 0px;
                }
                .castle-price-button-wrapper{
                  height:33vw;
                  margin-bottom: 1rem;
                  overflow:hidden;
                  overflow-y : scroll;
                  /* IE, Edge 対応 */
                  -ms-overflow-style: none;
                  /* Firefox 対応 */
                  scrollbar-width: none;
                  .castle-price-button{
                    background-color:#5089C6;
                    margin: 0px 0px 5px 0px;
                  }
                }
                .castle-price-button-wrapper::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                    display:none;
                }
                .all-reports-wrapper{
                  height:33vw;
                  margin-bottom: 1rem;
                  overflow:hidden;
                  overflow-y : scroll;
                  /* IE, Edge 対応 */
                  -ms-overflow-style: none;
                  /* Firefox 対応 */
                  scrollbar-width: none;
                  .report-wrapper{
                    margin: 0.3rem;
                    background-color:#5089C6;
                    .edit-report-button-wrapper{
                      display: flex;
                      justify-content: flex-end;
                      .edit-report-button{
                        font-size:1.3rem;
                        color:white;
                        margin: 0.6rem 0.6rem 0rem 0rem;
                        background: transparent;
                        border: none;
                        border-radius: 50%;
                        transition:  0.15s;
                        &:hover{
                          background-color:rgba(255,255,255,0.2);
                        }
                      }
                    }
                    .report-content{
                      margin:0px 0px 5px 0px;
                      white-space: pre-line;
                    }
                    .like-button-and-created-at-wrapper{
                      display:flex;
                      .like-button{
                        background-color: transparent;
                        border: none;
                      }
                      .tweet-button{
                        margin: 0 1rem 0 0rem;
                        background-color: transparent;
                        border: none;
                      }
                    }
                  }
                }
                .all-reports-wrapper::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                    display:none;
                }
                .slider-to-edit-castle{
                  width:100%;
                  display: flex;
                  margin: 2rem 0;
                  .display-castle-infomation{
                    display:block;
                    width: 150px;
                    margin:0rem;
                    input{
                      margin: 0 0.5rem;
                      width:4rem ;
                    }
                  }
                  .rc-slider{
                    display:block;
                    margin:0 auto;
                    width: calc(100% - 200px);
                  }
                }
              }
            }
          }
          /*スマホ*/
          @media screen and (orientation: portrait) {
            .castle_at_user_page{
              margin: 10px 5vw;
              height: calc(200vw);
              width: 90vw;
              .header-and-canvas-wrapper{
                .header-wrapper{
                  height: calc(7vw);
                  width: 90vw;
                  color:white;
                  background-color:#5089C6;
                  display: flex;
                  margin:0;
                  div{
                    margin-top: 0.2vw;
                    font-size: 5vw;
                    width: 100%;
                  }
                  button{
                    margin-top:-1.5vw;
                    padding:0;
                    font-size: 4vw;
                    height: 6vw;
                    width: 6vw;
                  }
                }
              }
              button{
                  z-index: 3;
                }
              h2{
                  z-index: 3;
                }
              .canvas{
                  margin-bottom: 0.5rem;
                  width: 90vw;
                  height:90vw;
                  margin: 0px 10px 0px 0px;
                  z-index: 1;
                  border: solid;
                  border-color: #5089C6;
                }
              .edit-castle-contents-wrapper{
                border: solid;
                border-color: #5089C6;
                padding: 0.5rem;
                height: 100vw;
                width: 90vw;
                background-color:white;
                .nav-link{
                  height: 3rem;
                  font-size: 0.7rem;
                  color: #808080;
                  width: 25%;
                  transition: font-size 0.15s, background-color 0.3s;
                  &:hover{
                    background-color:#f2faff;
                  }
                }
                .nav-link.active{
                  border-bottom: solid 8px #5089C6;
                  font-size: 0.87rem;
                  color: #000000;
                }
                .castle-point-wrapper{
                  height: 8vw;
                  padding:1.2vw;
                  font-size: 4vw;
                  color:white;
                  background-color:#035397;
                  margin: 0px 0px 5px 0px;
                }
                .castle-price-button-wrapper{
                  height:55vw;
                  margin-bottom: 1rem;
                  overflow:hidden;
                  overflow-y : scroll;
                  /* IE, Edge 対応 */
                  -ms-overflow-style: none;
                  /* Firefox 対応 */
                  scrollbar-width: none;
                  .castle-price-button{
                    width:100%;
                    background-color:#5089C6;
                    margin: 0px 0px 5px 0px;
                  }
                }
                .castle-price-button-wrapper::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                    display:none;
                }

                .all-reports-wrapper{
                  height:55vw;
                  margin-bottom: 1rem;
                  overflow:hidden;
                  overflow-y : scroll;
                  /* IE, Edge 対応 */
                  -ms-overflow-style: none;
                  /* Firefox 対応 */
                  scrollbar-width: none;
                  .report-wrapper{
                    margin: 0.3rem;
                    background-color:#5089C6;
                    .edit-report-button-wrapper{
                      display: flex;
                      justify-content: flex-end;
                      .edit-report-button{
                        font-size:1.3rem;
                        color:white;
                        margin: 0.6rem 0.6rem 0rem 0rem;
                        background: transparent;
                        border: none;
                        border-radius: 50%;
                        transition:  0.15s;
                        &:hover{
                          background-color:rgba(255,255,255,0.2);
                        }
                      }
                    }
                    .report-content{
                      padding:0rem 2rem 0 2rem;
                      margin:0;
                      white-space: pre-line;
                    }
                    .like-button-and-created-at-wrapper{
                      color: white;
                      padding-bottom: 0.5rem;
                      display:flex;
                      justify-content:flex-end;
                      .like-button{
                        margin: 0 0.1rem 0 1rem;
                        background-color: transparent;
                        border: none;
                      }
                      .tweet-button{
                        margin: 0 1rem 0 0rem;
                        background-color: transparent;
                        border: none;
                      }
                      .all-like-number{
                        margin: 0 0.7rem 0 0;
                      }
                    }
                  }
                }
                .all-reports-wrapper::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                    display:none;
                }
                .slider-to-edit-castle{
                  width:100%;
                  display: flex;
                  margin: 2rem 0;
                  .display-castle-infomation{
                    display:block;
                    width: 130px;
                    margin:0rem;
                    input{
                      margin: 0 0.5rem;
                      width:4.5rem ;
                    }
                  }
                  .rc-slider{
                    display:block;
                    margin:0 auto;
                    width: calc(100% - 180px);
                  }
                }
              }
            }
          }s
          .move-sliders{
            color: white;
            margin:0.5em;
            height: 1.5em;
            user-select:none;
            -webkit-user-select:none;
            -ms-user-select: none;
            -moz-user-select:none;
            -khtml-user-select:none;
            -webkit-user-drag:none;
            -khtml-user-drag:none;
          }
          .move-x-slider{
            background-color: red;
          }
          .move-y-slider{
            background-color: green;
          }
          .move-z-slider{
            background-color: blue;
          }
        }
    }



    .group-user-wrapper::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }

}


#add-catsle-button{
  margin-top:calc(var(--vh, 1vh) * 10);
  z-index: 4;
  p{
    font-size: 3rem;
  }
  button{
    font-size: 3rem;
  }

}




.ReactModal__Body--open {
  position: fixed;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
.react-modal {

}

#upload-image-canvas{
  border: 4px solid #5089C6;
}




//react-burger-menuのデフォルトのbuttonを削除する
.bm-burger-button {
  background-color: red;
  position: fixed;
  width: 1px;
  height: 0px;
  top: -100px;
}

.side-menu{
  position:relative;

}


.profiler-results{
  display: none;
}


//User.jsx

.users-header{
  color: white;
  width: 100%;
  height: 4rem;
  margin-bottm: 1rem;
  display:flex;
  position: fixed;
  top:0;
  background-color:#001E6C;
  z-index: 4;
  align-items: center;


  .user-icon {
    border-radius: 50%;
    max-width:  3.6em;
    max-height: 3.6em;
    width:  5vw;
    height: 5vw;
    min-width:  3em;
    min-height: 3em;
    margin-left: 5rem;
    border: 4px solid #5089C6;
  }
  .users-page-header-name{
    font-size:clamp(1.2rem, 3vw, 2rem);
    width: auto;
    height: 100%;
    display: flex;
    padding: 0 10px;
    margin-left:2px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .edit-user-button{
    &:hover {
      opacity: 0.6;
      transition-duration: 0.3s;
    }
  }
}

.progress-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  transition-delay: width 1s ease;
  height: 5px;
  padding: 5px 0px;
  background-color: #337AB7;
  border-radius: 4px;
}

.form-control{
  margin:1rem 0rem;
}

//"top-page-character character-number-" + i + " animation-point-" + this.state.animation_point

.top-page-character{
  font-size:1rem;
  position: absolute;
  transition-property: all;
  transition-duration:0.15s;
  transition-timing-function: ease;
  top: -50px;
  left: -50px;
}



.animation-point-0{
  top: -30px;
}
.animation-point-1{
  top: 500px;
}



:root {
  --margin-line: 1.5rem;
}

.line-number-1.animation-point-1{
  top: calc(500px - var(--margin-line)*1);
}
.line-number-2.animation-point-1{
  top: calc(500px - var(--margin-line)*2);
}
.line-number-3.animation-point-1{
  top: calc(500px - var(--margin-line)*3);
}
.line-number-4.animation-point-1{
  top: calc(500px - var(--margin-line)*4);
}
.line-number-5.animation-point-1{
  top: calc(500px - var(--margin-line)*5);
}
.line-number-6.animation-point-1{
  top: calc(500px - var(--margin-line)*6);
}
.line-number-7.animation-point-1{
  top: calc(500px - var(--margin-line)*7);
}
.line-number-8.animation-point-1{
  top: calc(500px - var(--margin-line)*8);
}
.line-number-9.animation-point-1{
  top: calc(500px - var(--margin-line)*9);
}
.line-number-10.animation-point-1{
  top: calc(500px - var(--margin-line)*10);
}
.line-number-11.animation-point-1{
  top: calc(500px - var(--margin-line)*11);
}
.line-number-12.animation-point-1{
  top: calc(500px - var(--margin-line)*12);
}
.line-number-13.animation-point-1{
  top: calc(500px - var(--margin-line)*13);
}
.line-number-14.animation-point-1{
  top: calc(500px - var(--margin-line)*14);
}
.line-number-15.animation-point-1{
  top: calc(500px - var(--margin-line)*15);
}
.line-number-16.animation-point-1{
  top: calc(500px - var(--margin-line)*16);
}
.line-number-17.animation-point-1{
  top: calc(500px - var(--margin-line)*17);
}
.line-number-18.animation-point-1{
  top: calc(500px - var(--margin-line)*18);
}
.line-number-19.animation-point-1{
  top: calc(500px - var(--margin-line)*19);
}
