// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group-wrapper{
  display: flex;
  padding: 1em;
}

.group-name {
  font-size: 2em;
  float: left;
}

.group-infomation {
  float: left;
}
